
@charset "utf-8";

/*폰트설정*/ 

.subtitle {
  font-family: 'Black Han Sans', 
  sans-serif;  
  text-align: justify;
  font-size: 14pt;
  }

 .main-text {
   font-weight: 400; 
   font-size: 12pt;
   letter-spacing: 0.02em;
   word-spacing: 1m; 
   line-height: 1.3em;
 }

h2 {
   font-family: 'NanumSquareExtraBold', san-serif; 
   color : #a9a9a9;
   letter-spacing: -0.05em;
   padding: 0 0 15px; 
   border-bottom:2px solid #333;
   }



body { padding:80px;}

/*테이블 설정*/

.product_view { 
  position: relative; 
  padding:0 0 0 420px; 
  width:100%; 
  box-sizing:border-box;
  }

.product_view2 { 
  position: relative; 
  width:100%; 
  box-sizing:border-box;
  }

.product_view .img { 
  width: 400px; 
  height: 410px; 
  border:3px solid #a9a9a9;
  position: absolute; left: 0; top: 0;
  }

table th { 
  font-size: 16px; 
  color: #444; 
  text-align: left; 
  }

table td { 
  padding: 6px 0; 
  font-size: 15px; 
  color: #444; 
  }

table td.company { font-size : 20px; }
table td.price { font-size : 20px; color:#0a56a9; }

/*select box*/ 

table select {
  width: 30%;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  }

/*버튼모양 설정*/ 

.btns { 
  padding: 30px; 
  text-align: center; 
  }
.btns > a { 
  display: inline-block; 
  width: 136px; 
  height: 42px; 
  border-radius: 3px; 
  line-height: 42px; 
  font-size: 16px; color: #fff; 
  text-decoration: none;  
  }
.btns > a.btns1 { background: #666; margin-top: 5px;}
.btns > a.btns2 { background: #0a56a9; margin-top: 5px;}

/*소개정보 설정*/

.main_text0 { 
  width:100%; 
  height: 120px; 
  background: #00769D; 
  margin:0.6rem 0 0 0;

  }
.contents1 { 
  padding-top: 20px; 
  font-size: 25px; 
  font-weight: bold; 
  color:white; 
  text-align: center; 
  }
.contents2 { 
  padding-top: 20px; 
  font-size: 18px; 
  font-weight: bold; 
  color: white; 
  text-align: center; 
  }

/*기타제품소개*/

.sub-pro {
  display: flex;
  }

.box {
  width:190px;
  height:205px;
  border: 3px solid skyblue;
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center; 
  margin-top: 5px;
  }

.box > img {
 display: inline-block;
 width: 120px; 
 height: 120px;
 margin: 0 auto;
 }

/*바닥*/
footer{
    border-top: 2px solid #333;
    background-color:#dedede;
    padding:1rem 0;
    margin:3rem 0;
  }

.footer-message{
    font-weight: bold;
    font-size:1.2rem;
    color:#434851;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
  }
.footer-contact{                                        font-size:0.9rem;
    color:#434851;
    margin:0.6rem;
  }